#pic_404 {
    max-height: 100%;
    height: auto;
    height: auto;
    padding-top: 5%;
    padding-left: 6%;
    position: fixed;
    left: 28%;
}


div.buttons {
    position: fixed;
    left: 48%;
    bottom: 16%;
}

p{
    position: fixed;
    left: 45%;
    bottom: 10%;
    color: black;
    text-decoration: underline;
}

div.buttons img:hover { 
    opacity: 1; -webkit-filter: brightness(150%); 
}

p:hover {
    color: red;
}