body{
    background-color: #414756;
    margin: 0px;
    background-image: url("pictures/background.png");
    background-position: fixed;
    background-size:cover;
}

div.topbar {
    position: sticky;
    margin-top: 0px;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 25px;
    /*background-color: #222222;*/
    background-color: #2d2d2d;
    border-bottom: 2px solid  black;
}
div.topbar a{
    display: block;
    border-right: 2px solid #3d3d3d;
    font-size: 0.9vw;
    text-decoration: none;
    color: white;
    float: left;
    width: 150px;
    line-height: 25px;
    /*background-color: #595858;*/
}
#membersarea {
    color: #feda6a;
    float: right;
    width: 300px;
    border-left: 2px solid #3d3d3d;
    font-size: 1vw;
    /*background-color: #3d3d3d;*/
    background-color: #222222;
    border-right: 0px;
    border-left: 0px;
}
#loggedin {
    float: right;
}
#logout {
    float: right;
    width: 70px;
    background-color: #222222;
}
div.topbar a:hover{
    background-color: #595858;
}
#membersarea:hover{
    background-color: #595858;
}
#logout:hover{
    background-color: #595858;
}

div{
    margin-top: 13%;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

table{
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    background-color: #2d2d2d;
    padding: 10px 10px 5px 10px;   
    color: white;
    font-size: 0.9vw;
}

td{
    padding: 5px;
}

a{
    text-decoration: None;
    color: white;
    font-size: 0.85vw;
}

a:hover{
    color: yellow;
}

div.buttons {
    position: fixed;
    bottom: 20px;
    right: 50px;
}
div.buttons img:hover { opacity: 1; -webkit-filter: brightness(150%); }
p {
    color: white;
    font-size: 1.1vw;
}