<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<title>Wrong Side - The World Of Star Wars</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
	</head>

	<body>
		<div id="pic_404">
			<img src="http://i1.kym-cdn.com/photos/images/original/001/005/938/600.jpg">
		</div>

		<div class="buttons">
			<a class="home" href="/">
				<img src="https://pngimg.com/uploads/starwars/starwars_PNG19.png" height="50px" width="50px"/>
				<p> BACK to the Planets </p>
			</a>
		</div>
	</body>

</html>