<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Login - The World Of Star Wars</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>

    <body>
        
        <div>
             <img src="http://www.pngmart.com/files/3/Star-Wars-PNG-Clipart.png" height="50px" width="50px"/>
        </div>
        <div id="login">
           
            <form action='/login' method='POST'>
                <table>
                    <tr>
                        <td colspan="2">The dark side of the force is waiting for YOU!</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><input id="username" type="text" name="username"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input id="password" type="password" name="password"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input id="login_button"type='submit', value='Login'></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="/registration">Register!</a></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="buttons">
            <a class="home" href="/">
                <img src="https://pngimg.com/uploads/starwars/starwars_PNG19.png" height="50px" width="50px"/>
                <p> BACK to the Planets </p>
            </a>
        </div>

  </body>
</html>